* {
    box-sizing: border-box;
    display: block;
}

body {
    margin: 0px;
    background: url("../images/vertical-waves.png");
}

.jumbotron {
    background: url("../images/abstract.jpg");
}

.jumbotron h1 {
    text-align: center;
    font-size: 55px;
    color: rgba(252, 248, 15, 0.999);
    text-shadow: 2px 2px 8px #FF0000;
}

.btn {
    float: left;
    font-size: 25px;
    box-shadow: 2px 2px 2px #aaaaaa;
}

#auto {
    margin-left: 20px;
}

#letters {
    margin-right: 20px;
    font-size: 5px;
    float: left;
}

#instructions {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 23px;
    float: left;
    clear: both;
}

p {
    font-size: 17px;
}

#gamePanel {
    margin-top: 40px;
}

#guesses {
    clear: both;
    margin-left: 20px;
    font-size: 18px;
}

#blankWord {
    margin-left: 40px;
    font-size: 40px;
}

#showHint {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

#hint {
    clear: both;
    margin-left: 40px;
}

canvas {
    border: 0px !important;
}

#game-over {
    margin-left: 20px;   
    margin-top: 40px; 
}

#win {
    margin-left: 20px;   
    margin-top: 40px;  
}