.jumbotron {
    background: url("../images/abstract.jpg");
}

.jumbotron h1 {
    text-align: center;
    color: rgba(125, 10, 219, 0.999);
}

.btn {
    /* background-color: aquamarine; */
    float: left;
}

#instructions {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    clear: both;
}

#guesses {
    clear: both;
    margin-left: 20px;
    margin-top: 70px;
    size: 50px;
}

#blanks {
    margin-left: 20px;
}

#game-over {
    margin-left: 20px;    
}

#win {
    margin-left: 20px;    
}

#showHint {
    margin-top: 20px;
    margin-bottom: 20px;
}

#hint {
    clear: both;
}